<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='uploads/styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>sustainify</title>
  </head>
  <body>
    <nav>
      <h1 class="navtext">sust<span class="desc">ai</span>nify</h1>
  </nav>

  <div id="restofbody">
      <div class="slogan">
          <h1>Identify where your recycling goes!</h1>
      </div>
      <div class="mainbody">
          <div class="left">
              <p>sust<span class="desc">ai</span>nify is a web app designed to <br> help individuals and families make <br> informed decisions about waste <br> disposal. No more confusion, no more <br> improper disposal!</p>
              <p>This tool was inspired by the <br> <a href="https://sdgs.un.org/goals/goal12" class="link"> Responsible Consumption and <br> Production</a> goal of the United Nation's <br>17 Sustainable Development Goals. </p>
              <form class="video" action="/upload" method="post" enctype="multipart/form-data">
                  <input type="file" name="file" class="submit">
                  <input class="submit" type="submit" value="Submit">
                </form>
          </div>
          <div class="right">
                <video id="video" width="640" height="480" autoplay></video>
                <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>

                <button class="capture" onclick="capture()">Capture Photo</button>

                <form id="captureForm" action="/upload-webcam" method="post" style="display: none;">
                    <input class="vidhidden" type="hidden" id="imageData" name="imageData" value="">
                </form>
          </div>

      </div>
  </div>

    
    <script>
      // Initialize Webcam on Page Load
      document.addEventListener("DOMContentLoaded", function () {
        var video = document.getElementById("video");

        // Get Access to the Camera
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
            video.srcObject = stream;
            video.play();
          });
        }
      });

      // Capture Function for Button Click
      function capture() {
        console.log("Capture button clicked");
        var canvas = document.getElementById("canvas");
        var video = document.getElementById("video");
        canvas.getContext("2d").drawImage(video, 0, 0, 640, 480);
        var dataURL = canvas.toDataURL();
        document.getElementById("imageData").value = dataURL;
        document.getElementById("captureForm").submit();
      }
    </script>
  </body>
</html>
